<!doctype html>
<html lang="en">
<% include templates/header.ejs %>
<body>

<% include templates/navbaradmin.ejs %>



<div class="container">
    <section class="salaires">
        <form class="col-sm-offset-1 col-sm-8 form-horizontal " style="margin-top: 160px ;margin-left: 50px" method="POST" action="/remunerations">
            <fieldset>

                <!-- Form Name -->
                <legend class="col-sm-offset-1" style="margin-left: 0px;margin-bottom: 20px">Infomations salariales </legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prenom">Ref fiche salarié</label>
                    <div class="col-md-4">
                        <select id="salarie" name="idsalarie" style="width: 201px;height: 34px;background: white" class="form-control                              input-md" required=""><br>
                            <% if (employes.length >0 )  { %>
                            <% employes.forEach(function (employe)  { %>
                            <option value="<%=employe.id%>">

                                <div class="col-md-6 ident">
                                    <%= employe.id %>
                                    <div class="col-md-1 nom">
                                        <%= employe.prenom %>
                                    </div>
                                    <div class=" col-md-2 prenom">
                                        <%=employe.nom %>
                                    </div>
                                </div>
                                <% }) %>
                                <% }else { %>
                                <p> la liste est vide</p>
                                <% } %>
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
         <label class="col-md-4 control-label" for="montant">Variables</label>
         <div class="col-md-4">
           <input id="type" name="variables" type="number" placeholder=
        " salaire variables " class="form-control input-md" required="">


                    </div>
                </div>

                <!--date-->

                <div class="form-group">
           <label class="col-md-4 control-label" for="montant"> salaire fixe</label>
         <div class="col-md-4">
           <input id="type" name="fixe" type="number" placeholder=
      "montant du salaire " class="form-control input-md" required="">


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="detail">Details </label>
          <div class="col-md-4">
           <input id="detail" name="detail" type="text" placeholder=
        "details de l'avantage " class="form-control input-md" >

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="date">Année de la remuneration</label>
          <div class="col-md-4">
          <input class="form-control" id="date" name="annee" placeholder="YYYY" type="number"/>
                    </div>
                </div>



                <!-- Button -->
                <div class="form-group">


                    <label class="col-sm-4 control-label" for=""></label>

                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>

                    <!-- pour vider les input-->

                    <label class="col-sm-1 control-label" for=""></label>
                    <div class="col-sm-offset-1 col-sm-1">
                        <button type="reset" class="col-sm-offset-1 btn btn-primary">Annuler</button>
                    </div>

                </div>


            </fieldset>
            <hr>
            <% include templates/retour.ejs%>

        </form>

    </section>
    <div class=" col-sm-offset-1 col-md-8 col-lg-8 col-sm-8 col-sm-8 col-xs-8 tableau formations" style="margin-top: 40px">
        <!--<hr>-->
        <p><strong>Listes des rémunérations ajoutées</strong></p>
        <table class="table" style="margin-top: 40px;text-align: center">
            <thead>
            <tr>
                <th> Nom  </th>
                <th> les variables   </th>
                <th> salaire fixe </th>
                <th> annee </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% if (salaires.length >0 )  { %>
            <% salaires.forEach(function (item)  { %>
            <tr>
                <td><%=item.nom%></td>
                <td><%=item.variables %></td>
                <td><%= item.fixe %></td>
                <td><%= item.annee%></td>

            </tr>
            <% }) %>
            <% }else { %>

            <td> la liste est vide</td>

            <% } %>
            </tbody>
        </table>
    </div>


    </div>

<% include templates/footer.ejs %>
</body>
</html>