<!doctype html>
<html lang="en">
<% include templates/header.ejs %>
<body>

<% include templates/navbaradmin.ejs %>
<div class ="container">
    <div class=" col-sm-2"style="margin-top: 70px ;margin-left: 50px">
        <% include templates/retour.ejs%>
    </div>
  <section class="col-sm-8 modif">
    <!--<div class="jumbotron">-->

            <p style="margin-top: 80px">modifier une fiche salariée </p>
       <!-- </div>-->
        <% result.forEach(function(item){ %>


        <form class="col-sm-8 " role="form" action="/salarie/<%= item.id %>" method="post">
            <input type="hidden" name="_method" value="put"/>
            <div class="form-group">
                <label for="fname">Nom:</label>
                <input type="text" class="form-control" id="nname" name="lenom"
                       value="<%= item.nom%>" required>
            </div>
            <div class="form-group">
                <label for="fname">Prenom:</label>
                <input type="text" class="form-control" id="nname" name="prenom"
                       value="<%= item.prenom%>" required>
            </div>

                <label for="nposte">Poste:</label>
                <div class="form-group">
                <input type="text" class="form-control" id="nposte" name="leposte"
                       value="<%= item.poste %>" required>
            </div>

            <div class="form-group">
                <label for="nbreE">nbreEnf:</label>
                <input type="number" class="form-control" id="nbreE" name="nbreE"
                       value="<%= item.nbre_enf_min%>" required>
            </div>

            <div class="form-group">
                <label for="email">email</label>
                <input type="email"  id="email" name="nemail" value="<%= item.email%>">
            </div>
            <!--mdp  , login ,adresse  , codePoste-->

            <div class="form-group">
                <label for="mdp">motdepass:</label>
                <input type="password" class="form-control" id="motdepass" name="modpass"
                       value="<%= item.mdp %>">
            </div>
            <div class="form-group">
                <label for="login">login:</label>
                <input type="text" class="form-control" id="login" name="nlogin"
                       value="<%= item.login %>">
            </div>
            <div class="form-group">
                <label for="adresse">Adresse:</label>
                <input type="text" class="form-control" id="adresse" name="nadresse"
                       value="<%= item.adresse %>">
            </div>
            <div class="form-group">
                <label for="codepost">Code postal:</label>
                <input type="number" class="form-control" id="codepost" name="codepost"
                       value="<%= item.codePoste %>">
            </div>
        <div class="container">
            <button type="reset" class="btn btn-primary">Annuler</button>


            <button type="submit" class="col-md-offset-2 col-sm-2 btn btn-primary"style="margin-right: 10px">Enregistrer</button></div>


         </form>
         <%}) %>
  </section>

</div>




</body>
<% include templates/footer.ejs %>
</html>